<?xml version="1.0" ?>
<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <include file="$(find zed_wrapper)/launch/zed_camera.launch" />
  <include file="$(find i2c_imu)/launch/mpu_9250.launch" />
  <node pkg="rosbag" type="record" name="rosbag_record_floor"
      args="record -o /media/nvidia/rosbagger/rosbag/floor/ /rgb/camera_info /rgb/camera_info_raw /rgb/image_rect_color/compressed /rgb/image_rect_color/compressed/parameter_updates /rgb/image_rect_color/compressed/parameter_descriptions
    /zed_wrapper_node/parameter_descriptions /zed_wrapper_node/parameter_updates /joint_states /scan /tf /tf_static /imu /odom_zed" />
</launch>
